.TitleContainer {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 55%;
  border-bottom: 5px solid white;
  padding: 0px;
}

.TitleHeadText {
  margin: 0px;
  text-align: center;
  font-family: 'Indie Flower','Mukta Malar', sans-serif;
  font-size: 50px;
  color: white;
}

.TitleMinorText {
  margin-top: -10px;
  text-align: center;
  font-size: 12px;
  color: white;
}
