.BodyContainer {
  border-radius: 0px 0px 25px 25px;
  background-color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}
.DisplayNone {
  display: none;
}

.VideoAlign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
