.WordText {
  padding-left: 10px;
  font-family: 'Inconsolata', 'Karla';
  font-weight: 700;
  font-size: 18px;
}
.DescText {
  padding-left: 20px;
  font-family: 'Roboto', 'Karla';
  font-size: 15px;
}
