.MainContainer {
  margin: auto;
  width: 60%;
}
.TabContainer {
  display:flex;
  background-color: rgba(255,255,255, 0.3);
}
.ActiveTab {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-family: 'Inconsolata', 'Indie Flower', 'Mukta Malar';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: white;
}
.Tab {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-family: 'Inconsolata', 'Indie Flower', 'Mukta Malar';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}
.DisplayNone {
  display: none;
}
